.container_note {
    width: 70%;
    background: transparent;
    color: #1a1a1a;
    border-radius: 10px;
    border: 2px solid black;
    padding: 30px 40px;
    margin: 100px auto;
}
.box_note {
    padding: 20px 0;
}
.box_note input {
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #1a1a1a;
    border-radius: 40px;
    color: #1a1a1a;
    padding: 10px 20px;
}
.box_note textarea {
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #1a1a1a;
    border-radius: 20px;
    color: #1a1a1a;
    padding: 10px 20px;
    padding-right: 20px;
    resize: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.buttons_note {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.buttons_note a {
    background: #99ccff;
}
.buttons_note button {
    background: #99ccff;
}