<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/notes.css" />
    <title>Add Note</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <div class="addnote-form-container">
        <form method="post" action="/add_note">
            <h2>Add Note</h2>
            <!-- CSRF Protection -->
            {{ form.csrf_token }}

            <!-- Title input-->
            <div class="form-group">
                {{ form.title.label(class="form-label", for="addnote-title") }}
                {{ form.title(class="form-control", id="addnote-title", placeholder="Title") }}
            </div>

            <!-- Content input-->
            <div class="form-group">
                {{ form.content.label(class="form-label", for="addnote-content") }}
                {{ form.content(class="form-control", id="addnote-content", placeholder="Content") }}
            </div>

            <div class="form-group">
                {{ form.date.label(class="form-label", for="addnote-date") }}
                {{ form.date(class="form-control", id="addnote-date", placeholder="Content") }}
            </div>

            <!-- Submit/Add note button -->
            <button title="Add note" type="submit" class="btn btn-primary">Add</button>

            <!-- Cancel button -->
            <a title="Cancel" class="btn btn-primary" href="{{ url_for('user_views.notes') }}"
               role="button">Cancel</a>
        </form>
    </div>

{% endblock %}
</body>
</html>