{% extends "base_calendar.html" %}
{% block body %}
<div id="calendar"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar')
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
    {% for event in events %}
    {
        title: '{{ event.title }}',
        start: '{{ event.start }}',
        end: '{{ event.end }}',
    },
    {% endfor %}
    ]
    })
    calendar.render()
  })
</script>
{% endblock body %}
